//EDUSPEAK Alert definition

ul, li{
    list-style: none;
    
    &.alert-edu{
        background-color: @eduspeak-base-purple;
        background-image: none;
        border-color: white;
        color: white;
        text-shadow: none;
        margin: @size-px-20 0 @size-px-20 25%;
        text-align: right;
    }

    &.alert-edu-invert{
        background-color: white;
        background-image: none;
        border-color: @eduspeak-base-purple;
        color: @eduspeak-base-purple;
        text-shadow: none;
        margin: @size-px-20 25% @size-px-20 0;
        text-align: left;
    }
}
