.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -100%; }
  .carousel-inner .next        { left:  100%; }
  .carousel-inner .prev		 { left: -100%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .next        { left:  50%; }
  .carousel-inner .prev		 { left: -50%; }
  .active > div { display:none; }
  .active > div:first-child { display:block; }
  .active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .next        { left:  25%; }
  .carousel-inner .prev		 { left: -25%; }
}

#edu-match {
  height: @page-row-height;
  .content {
    height: @page-row-content-height;
    margin-bottom: 0;
    .list-actus {
      height: @full-height;
      max-height: @full-height;
      overflow-y: auto;
      padding: 0;
      background-color: @gray-lighter;
      h1, h2, h3, h4, h5, h6 {
        text-align: center;
        text-transform: uppercase;
      }
      .list-group {
        border-radius: 0;
        box-shadow: none;
        .list-group-item {
          min-height: 4em;
          max-height: 18vh;
          overflow: hidden;
          white-space: nowrap;
          border-radius: 0;
          background: transparent;
          padding: 0;
          .actu {

          }
          .actu:hover img{
            opacity: 0.65;
          }
          .like {
            display:none;
          }
          .actu:hover .like{
            display:inline;
            position: absolute;
            top: 30%;
            right: 30%;
          }
        }
      }
    }

    .list-friends {
      height: @full-height;
      padding: 0;
      ul {
        margin-top: 30px;
        li {
          list-style: none;
          height: 17vh;
          border-bottom: @eduspeak-gray-border;
        }
        .user-picture, .user-infos, .start-conversation {
          display: inline-block;
          height: @full-height;
        }
        .user-picture, .start-conversation {
          a {
            color: @eduspeak-base-purple;
          }
        }
        .user-picture {
          float: left;
          padding: 1rem;
        }
        .user-infos {
          padding: 0 1rem;
        }
        .start-conversation {
          float: right;
          padding: 3rem 1rem;
        }
      }

      .friends-empty{
        margin-top: 22%;
        text-align: center;
      }
    }
  }
}

