//EDUSPEAK Button definition

a, button, input{
    &.btn-edu{
        background-color: @eduspeak-base-purple;
        background-image: none;
        border: none;
        color: white;
        text-shadow: none;

        &.btn-accueil{
          margin: @size-px-10 @size-px-10 @size-px-10 @size-px-10;
          padding: 15px 32px;
          text-align: center;
          font-size: 150%;
        }

        &.btn-facebook{
          background-color: #3b5998;
        }
    }

    &.btn-edu:hover{
        background-color: white;
        border-color: @eduspeak-base-purple;
        color: @eduspeak-base-purple;
    }

    &.btn-edu-invert{
        background-color: white;
        background-image: none;
        border-color: @eduspeak-base-purple;
        color: @eduspeak-base-purple;
        text-shadow: none;
        margin: @size-px-5 0;
    }

    &.btn-edu-invert:hover{
        background-color: @eduspeak-base-purple;
        border-color: white;
        color: white;
    }

    &.btn-facebook:hover{
      background-color: white;
      border-color: #3b5998;
      color: #3b5998;
    }
}
