#edu-discussions {
    height: @page-row-height;
    .list-discussions {
        height: @full-height;
        max-height: @full-height;
        overflow-y: auto;
        padding: 0;
        background-color: @gray-lighter;
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            margin-bottom: 4rem;
            text-transform: uppercase;
        }

        .list-group {
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            .list-group-item {
                min-height: 4em;
                max-height: 8.5vh;
                overflow: hidden;
                white-space: nowrap;
                border-radius: 0;
                background: transparent;
                padding: 0;
                a.list-group-item-search {
                    padding: 20px 167px 20px 20px;
                    color: @gray;
                    background: white;
                    text-decoration: none;
                    i {
                        vertical-align: middle;
                        padding: 13px;
                    }
                }
                a.list-group-item-picture {
                    padding: 0;
                    color: @eduspeak-base-purple;
                    img {
                        margin-bottom: 0;
                    }
                }
                a.list-group-item-picture:hover {

                }
                &.selected{
                a.list-group-item-user {
                    vertical-align: super;
                    padding: 20px 167px 20px 20px;
                    color: @gray;
                    text-decoration: none;
                }
                a.list-group-item-user:hover {
                    background-color: @eduspeak-base-purple;
                    a{
                        color: white;
                    }
                }
            }
        }
    }

    .selected-discussions {
        padding: 0;
        .panel-chat {
            overflow-y: auto;
            background: transparent;
            border: none;
            height: 70vh;
            padding: 0 7em 0 7em;
            .panel-body {
                height: 70vh;
                #chat_room {
                    li {
                        text-decoration: none;
                        list-style: none;
                        background-repeat: no-repeat;
                        white-space: nowrap;
                    }
                }
            }
        }
        .input-group {
            .btn-edu {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                border: 1px solid #cccccc;
            }
        }
        .discussion-empty{
            margin-top: 22%;
            text-align: center;
        }

        .discussion-status{
            >div{
                min-height: 4em;
                border-bottom: 0.2rem solid @gray-lighter;
            }
            i{
                vertical-align: 0.5rem;
                margin-left: 3rem;

                &.fa-circle{
                    color: green;
                }
            }
        }
    }
}}
