#edu-discussions {
    height: @page-row-content-height;
    .list-discussions {
        height: @full-height;
        max-height: @full-height;
        overflow-y: auto;
        padding: 0;
        background-color: @gray-lighter;
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
            margin-bottom: 4rem;
            text-transform: uppercase;
        }

        .list-group {
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            .list-group-item {
                min-height: 4em;
                max-height: 8.5vh;
                overflow: hidden;
                white-space: nowrap;
                border-radius: 0;
                background: transparent;
                padding: 0;
                a {
                    padding: 28px 167px 10px 20px;
                    color: gray;
                    img {
                        margin-bottom: 0;
                    }
                }
                a:hover {
                    color: white;
                    background-color: @eduspeak-base-purple;
                    text-decoration: none;
                }
                a:active {
                    color: white;
                    background-color: @eduspeak-base-purple;
                    text-decoration: none;
                }
            }
        }
    }

    .selected-discussions {
        padding: 0;
        .panel-chat {
            overflow-y: auto;
            background: transparent;
            border: none;
            height: 70vh;
            padding: 0 7em 0 7em;
            .panel-body {
                height: 70vh;
                overflow-y: auto;
                #chat_room {
                    li {
                        text-decoration: none;
                        list-style: none;
                        background-repeat: no-repeat;
                        white-space: nowrap;
                    }
                }
            }
        }
        .input-group {
            .btn-edu {
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                border: 1px solid #cccccc;
            }
        }
        .discussion-empty{
            margin-top: 22%;
            text-align: center;
        }

        .discussion-status{
            >div{
                min-height: 4em;
            }
            i{
                vertical-align: 0.5rem;
                margin: 0 3rem;

                &.fa-circle{
                    color: green;
                }
            }
            a {
                color: @eduspeak-base-purple;
            }
            a:hover{
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
