#edu-discussions {
    height: @page-row-height;
    .list-discussions {
        height: @full-height;
        max-height: @full-height;
        overflow-y: auto;
        padding: 0;
        background-color: @gray-lighter;
        h2 {
            text-align: center;
            margin-bottom: 4rem;
        }
        .list-group {
            border-radius: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            .list-group-item {
                max-height: 8.5vh;
                overflow: hidden;
                white-space: nowrap;
                border-radius: 0;
                border: @gray-border;
                background: transparent;
                padding: 0;
                img {
                    margin-bottom: 0;
                }
                a {
                    .fa-weixin{
                        padding-top: 1rem;
                    }
                    color: @gray;
                    text-decoration: none;
                }
                &:hover{
                    background-color: @eduspeak-base-purple;
                    a{
                        color: white;
                    }
                }
                &.selected{
                    background-color: @eduspeak-base-purple;
                    a{
                        color: white;
                    }
                }
            }
        }
    }

    .selected-discussions {
        height: @full-height;
        padding: 0;
        .panel-chat {
            overflow-y: auto;
            background: transparent;
            border: none;
            min-height: 70vh;
            padding: 0 7em 0 7em;
            .panel-body {
                #chat_room {
                    li {
                        text-decoration: none;
                        list-style: none;
                        background-repeat: no-repeat;
                    }
                }
            }

            .mine{
                background-color: green;
                color: white;
                text-align: right;
                margin-left: 50%;
                margin-right: 17em;
            }

            .his{
                margin-right: 50%;
            }
        }

        .discussion-empty{
            margin-top: 22%;
            text-align: center;
        }

        .discussion-status{
            >div{
                min-height: 4em;
                border-bottom: 0.2rem solid @gray-lighter;
            }
            i{
                vertical-align: 0.5rem;
                margin-left: 3rem;

                &.fa-circle{
                    color: green;
                }
            }
        }
    }
}
