//MAIN CLASSEs

.welcome-panel{
    min-height: 25rem;
    background-color: @eduspeak-base;
    color: white;
    text-align: center;
    padding-top: 5rem;
}

.home-row{
    border-bottom: solid 3px;
    text-align: center;
    color: @gray-light;
    >div{
        margin-top: 4rem;
    }
}

.edu-nav{
    color: @eduspeak-base;
}

.edu-justify{
    text-align: justify;
}
