#premium{
.row-description{
  background-color: #eeeeee;
  text-align: center;
}

table{
  border: none;


&.table-borderless td{
 //border: none;
 padding:30px;
 &.td-button{
   padding-left:2px;
   padding-right:2px;
 }
}

.title{
  th{
    text-align: center;
  }
}

.fonctionnalités{

.cell{
  text-align: center;
  background-color: #eeeeee;
  vertical-align: middle;
  i{
    color:green;
  }
  width:160px;
}
}

.btn-premium{
  background-color: #0087FF;
  border-radius: 3px;
  width:100%;
  color:white;
  box-shadow: 0 6px #004981;
  &:hover{
    box-shadow: 0 4px #004981;
    margin-top: 2px;
  }

}

}
}
