// PROFILE ---------------------------------------------------------------------------

#edu-profile {
	.profil-banner {
		> div {
			padding: 0;
		}
		img {
			width: 100%;
			min-height: 32em;
		}
	}
	#edu-profile-top{
		position: absolute;
		top: 6em;
		left: 4em;
		width: 90%;
		.profil-name{
			text-align: center;
		}
		.profil-contact{
			background-color: white;
			opacity: 0.8;
			width: 20rem;
			margin: 0;
		}
		.btn{
			width: 100%;
		}
		.profil-icon{
			text-align: center;
			.fa-user-plus {
				color: @eduspeak-base-purple;
			}
		}
		img{
			margin-bottom: 0;
			width: 20rem;
		}
		.profil-listing{
			ul{
				padding: 0;
				list-style: none;
				li{
					float: left;
					margin-right: 4rem;
				}
			}
			img{
				width: 8rem;
			}
			.profil-language{
				margin-top: 4rem;
				#user_spokenLanguages, #user_learnLanguages {
					label {
						padding: 0 @size-px-15 0 @size-px-5;
					}
				}
			}
		}
		#user_username, #user_file {
			width: 100%;
		}
	}
}

#edu-profile-row {
	margin-top: 3em;
	.profil-details{
		background-color: white;
		opacity: 0.9;
		box-shadow: @gray-border 1px 1px 1px 1px;
		margin-bottom: 5em;
		padding: 1em;
		ul{
			list-style: none;
			padding: 0;
		}
		p{
			text-align: justify;
		}
		h4{
			overflow: hidden;
		}
		i{
			overflow: hidden;
		}
		#user_cityPrecision, #user_city, #user_description {
			width: 100%;
		}
		#user_interests {
			label {
				padding: 0 @size-px-15 0 @size-px-5;
			}
		}
	}
	.visited-list{
		img{
			width: 3em;
		}
	}
}

#edu-profile-general input[type=text] {
	width: 160px;
	line-height: @size-px-15;
}
