{% extends 'base.html.twig' %}

{% block body %}
<div id="premium">
    <div class="row row-description ">
      <h1>Passez au premium!</h1>
    <div class="col-md-4">
      <i class="fa fa-commenting fa-5x"></i>
      <h3>Parlez dans le monde entier</h3>
    </div>
    <div class="col-md-4">
      <i class="fa fa-globe fa-5x"></i>
      <h3>Découvrez de nouvelles cultures</h3>
    </div>
    <div class="col-md-4">
      <i class="fa fa-line-chart fa-5x"></i>
      <h3>Améliorez-vous!</h3>
    </div>
  </div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <table class="table table-borderless">
    <thead>
      <tr class="title">
        <th><h2></h2></th>
        <th><h2>Premium</i></h2></th>
        <th><h2>Free</i></h2></th>
      </tr>
    </thead>
    <tbody>
      <tr class="fonctionnalités">
        <td class="description">5 amis maximum</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></i></div></td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></i></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Discussion illimités avec les amis</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">15 discussions par mois</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Amis illimité</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-times fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Enregistrement des discussions non amis</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-times fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Discussions illimités</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-times fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
       <td class="txt"></td>
       <td class="td-button"><a class="btn btn-premium" href="#" role="button">Acheter &raquo;</a></td>
       <td class="td-button"><a class="btn btn-premium" href="#" role="button">Découvrir &raquo;</a></td>
    </tr>
  </tbody>
</table>


    </div>
  </div>
</div>
</div>
{% endblock %}
