{% extends 'base.html.twig' %}

{% block body %}
<div id="premium">
    <div class="row row-description">
        <div class="container">
            <h1>Devenez Premium !</h1>
        </div>
    </div>

    <div class="container">

<div class="row col-md-offset-2 col-md-8">

    <table class="table table-borderless">
    <thead>
      <tr class="title">
        <th><h2>Description des fonctionnalités</h2></th>
        <th><h2>Premium</i></h2></th>
        <th><h2>Free</i></h2></th>
      </tr>
    </thead>
    <tbody>
      <tr class="fonctionnalités">
        <td class="description">Description des fonctionnalités 1</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></i></div></td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></i></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Description des fonctionnalités 2</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Description des fonctionnalités 3</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"><div></td>
      </tr>
      <tr class="fonctionnalités">
        <td class="description">Description des fonctionnalités</td>
        <td class="cell"><div><i class="fa fa-check-circle fa-3x"></div></td>
        <td class="cell"></td>
      </tr>
      <tr class="fonctionnalités">
       <td class="txt"></td>
       <td class="td-button"><a class="btn btn-premium" href="#" role="button">Acheter &raquo;</a></td>
       <td class="td-button"><a class="btn btn-premium" href="#" role="button">Découvrir &raquo;</a></td>
    </tr>
  </tbody>
</table>


    </div>
</div>
{% endblock %}
