<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('front/dist/css/bootstrap.css') }}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('front/dist/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container">
            <div class="row edu-nav">
                <div class="col-md-12">
                    <img class="eduspeak-logo" src="" />
                    <h1>Speak It</h1>
                </div>
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ asset('front/dist/js/bootstrap.js') }}"></script>
    </body>
</html>
