{% trans_default_domain 'FOSUserBundle' %}

<style>
    body {
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    label{
        width: 100%;
    }
    #facebook-login{
        position: absolute;
        top: 7em;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-default" href="http://localhost:8000/login/facebook" id="facebook-login">
                        <i class="fa fa-facebook-official"></i> Login with Facebook
                    </a>
                </div>
                <div class="col-md-6">
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin">
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'registration.submit'|trans }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
