{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>Your Discussions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-group">
                {% for discussion in discussions %}
                    <li class="list-group-item">
                        <a href="{{ path('chat_display',{'id': discussion.id}) }}">Discussion N°{{ discussion.id }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{%  endblock %}