{% extends 'base.html.twig' %}

{% block body %}
    {{ ws_client() }}
    <div id="edu-discussions" class="row">
        <div class="col-md-2 list-discussions">
            <h2>Discussions</h2>
            <ul class="list-group">
                {% for discussion in discussions %}
                    <li class="list-group-item">
                        <a href="{{ path('chat_display',{'id': discussion.id}) }}">
                            <img src="{{ asset('image/kevin_lebre_small.jpg') }}" alt="Profil" />
                            Discussion N°{{ discussion.id }} - Adrien
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10 selected-discussions">
            <div class="panel panel-default panel-chat">
                <div class="panel-body">
                    <ul id="chat_room">

                    </ul>
                </div>
            </div>
            <div class="input-group col-md-10 col-md-offset-1">
                <input type="text" class="form-control" id="chat_input" placeholder="Type text...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btn_send" type="submit">Send!</button>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var websocket = WS.connect("ws://127.0.0.1:8080");
        websocket.on("socket/connect", function(session){
            var insert_message = function(message){
                if(message.msg) {
                    $("#chat_room").append('<li class="alert alert-edu-invert">' + message.msg + '</li>');
                }else{
                    $("#chat_room").append('<li class="alert alert-edu">' + message + '</li>');
                }
            };
            session.subscribe("chat/channel", function(uri, payload){
                insert_message(payload.msg);
                console.log(payload)
            });
            var send_message= function(message){
                session.publish("chat/channel", {msg: message});
            };
            $("#btn_send").click(function(){
                send_message($("#chat_input").val());
                $("#chat_input").val('');
            });
        });
        websocket.on("socket/disconnect", function(error){
            //error provides us with some insight into the disconnection: error.reason and error.code
            console.log("Disconnected for " + error.reason + " with code " + error.code);
        });
    </script>
{%  endblock %}